.pictureWindowWpr {
    float:right;
    display:inline;
    width:370px;
}

.pictureWindowWpr .pictureWindowLiner {
    padding-left:50px;
}

.pictureWindowWpr .pictureWindowLiner img {
    border:3px solid #C5351C;
    display:block;
    float:left;
    -moz-box-shadow:4px 4px 3px #999999;
    -webkit-box-shadow:4px 4px 3px #999999;
}

.thumbs .thumb a img {
    border:2px solid #666666;
}
