<h1>Edit Reading</h1>

<% form_for @article, :url => admin_article_path(@article), :html => {:multipart => true} do |f| %>
<%= render :partial => 'admin/articles/form.html.erb', :locals => {:f => f}%>
<% end %>
