<h1>Readings</h1>
<% paginated_section @articles do %>
<table class="adminModelIndex">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publication Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'admin/articles/article.html.erb', :collection => @articles %>
  </tbody>
</table>
<div>
  <span><%= link_to 'New Article', new_admin_article_path %></span>
</div>
<% end %>
