<h1>New Reading</h1>

<% form_for @article, :url => admin_articles_path, :html => {:multipart => true} do |f| %>
<%= render :partial => 'admin/articles/form.html.erb', :locals => {:f => f}%>
<% end %>
