<li>
  <div class="heading2"><%= article.title -%></div>
  <p>Publication Date: <%= article.published.strftime('%B %e, %Y') %></p>
  <p><%= link_to 'View Full Article', article_path(article) %></p>
</li>
