<li>
  <div class="heading2"><%= article.title -%></div>
  <% unless article.published.blank? %><p>Publication Date: <%= article.published.strftime('%B %e, %Y') %></p><% end %>
  <p><%= link_to 'View Full Article', article_path(article) %>&nbsp;&nbsp;<%= link_to "Download Now", article.attachment.url -%></p>
</li>
