<p class="breadcrumbs"><%= link_to 'Home', root_path -%> > Articles</p>
<h1>Articles</h1>
<ol>
  <%= render :partial => 'articles/article.html.erb', :collection => @articles %>
</ol>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/articles/index', 'cache/views/articles/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/articles/index', 'cache/views/articles/index' %>
<% end %>
