<p class="breadcrumbs"><%= link_to 'Home', root_path -%> > <%= link_to 'Conversations', conversations_path -%> > My Conversations</p>
<h1>Conversations</h1>
<ol>
  <%= render :partial => 'conversations/conversation.html.erb', :collection => @conversations %>
</ol>
<div class="buttonWpr"><%= link_to '&#171; Back', conversations_path, :class => 'medium rounded-button' -%></div>
