<h1>Dialogues</h1>
<ol>
  <%= render :partial => 'conversations/conversation.html.erb', :collection => @conversations %>
</ol>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/conversations/list', 'cache/views/conversations/list' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/conversations/list', 'cache/views/conversations/list' %>
<% end %>
