<%= render :partial => 'admin/contents/content.html.erb', :object => @content %><br /><br />
<div><%= link_to 'Edit', edit_admin_content_path(@content) -%> <%= link_to 'Back', admin_contents_path -%></div>
