<h1>Edit Testimonial</h1>
<% form_for @testimonial, :url => admin_testimonial_path(@testimonial) do |f| %>
<%= render :partial => 'admin/testimonials/form.html.erb', :locals => {:f => f} %>
<% end %>
