<div id="gblNav" class="float admin ">
  <%= link_to '<span>Content Management System</span>', admin_contents_path %>
  <%= link_to '<span>Users</span>', admin_users_path %>
  <%= link_to '<span>Readings</span>', admin_articles_path %>
  <%= link_to '<span>Testimonials</span>', admin_testimonials_path -%>
</div>