<ul class="contactInfo">
  <h2>Contact Us</h2>
  <li>Penwood Partners</li>
  <li>Email <%= mail_to 'terry@penwoodpartners.com', 'Terry'-%> or <%= mail_to 'doug@penwoodpartners.com', 'Doug' -%></li>
  <li>Phone: 415-524-8400</li>
  <li>Fax: 415-524-8402</li>
</ul>
