<div class="gblSessionNav">
  <span>Welcome, <%= current_user.name %></span><span> | </span><span><%= link_to 'Settings', account_path %></span><span> | </span><span><%= link_to 'Sign out', signout_path %></span>
</div>