<% form_for @user, :url => send_activation_email_users_path do |f| %>
<p>Type your email address to resend your account activation email.</p>
<p><%= f.label :email %>: <%= f.text_field :email%></p>
<p><%= f.submit 'Submit' -%></p>
<% end %>
