<h1>My Penwood</h1>

<p><%= link_to 'My Appointments', appointments_path %></p>
<p><%= link_to 'Update Email Address', change_email_users_path %></p>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/users/show', 'cache/views/users/show' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/users/show', 'cache/views/users/show' %>
<% end %>
