<div id="pictureWindowWpr">
  <div class="picture_window"></div>
  <ul class="thumbs">
    <%= render :partial => 'partials/thumb_image.html.erb', :collection => @picture_window.images %>
  </ul>
</div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/welcome/about', 'cache/views/welcome/about' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/welcome/about', 'cache/views/welcome/about' %>
<% end %>
