<div class="homeCopy">
  <%= cms_content_for('home_copy') %>
</div>
<%= link_to '', '', :class => 'homeLearnMoreButton' %>
<div class="clear"></div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/welcome/index', 'cache/views/welcome/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/welcome/index', 'cache/views/welcome/index' %>
<% end %>
