<div class="homeCopy">
  <p>Penwood specializes in working with individuals in their relationships—in organizational, family and intimate settings. Penwood's approach is based upon facilitating open-ended inquiry into each person's experience of the relationship in the moment.</p>
</div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/welcome/index', 'cache/views/welcome/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/welcome/index', 'cache/views/welcome/index' %>
<% end %>
