.contactRight {
  margin-left:438px;
  width:420px;
  position:relative;
}

.contactRight form div {
  padding:10px 0;
  float:right;
  padding-right:65px;
}

.contactRight form div.errorExplanation {
  padding:6px 6px 6px 11px;
  margin-right:60px;
}

.contactRight form div.fieldWithErrors {
  float:left;
  padding:0;
}

.contactLoginForm {
  float:left;
  width:380px;
}

.contactLoginFormLiner {
  width:270px;
  margin-top:8px;
  padding-left:10px;
}

.contactLoginForm h2 {
  margin-bottom:15px;
}

#gblContent {
  padding-bottom:45px;
}

.addUserButtonWpr {
  float:right;
  margin-right:10px;
  margin-top:160px;
}

.addUserButtonWpr .contactNewUserButton {
  margin-right:50px;
  margin-top:20px;
  font-size:18px;
}

.guest .contactInfo {
  margin-top:-115px;
}

.contactFormHeader {
  padding-top:60px;
}
