<h1>Make a Payment</h1>

<form target="paypal" 
action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input 
type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" 
name="hosted_button_id" value="8751381"> <table> 
<tr><td><select name="os0"> 
<option value="Option 1 One-on-One Hour">Option 1 One-on-One Hour $135.00 
<option value="Option 2 15 min 1:1">Option 2 15 min 1:1 $35.00 <option 
value="Option 3 30 min 1:1">Option 3 30 min 1:1 $70.00 <option 
value="Option 4 45 min 1:1">Option 4 45 min 1:1 $105.00 <option 
value="Option 5 Group Hour">Option 5 Group Hour $155.00 <option 
value="Option 6 15 miin Group">Option 6 15 miin Group $40.00 <option 
value="Option 7 30 min Group">Option 7 30 min Group $80.00 <option 
value="Option 8 45 min Group">Option 8 45 min Group $120.00 </select> 
</td></tr> </table> <input type="hidden" 
name="currency_code" value="USD"> <input type="image" 
src="https://www.paypal.com/en_US/i/btn/btn_cart_LG.gif" border="0" 
name="submit" alt="PayPal - The safer, easier way to pay online!"> <img 
alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" 
height="1"> </form>

<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG3QYJKoZIhvcNAQcEoIIGzjCCBsoCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAUzb3v8V2B/kUlMhmSh71Ry04MzDXOOaqrhzoyJ479nkwSynJnhjP8EpbTrocik3vRjqCRRvUFbb+g78cEn8ZTrtNKfF3kTmGOZd5cm0oJHDfxFX2tLCejVXvq36xUkiGqZl/iDN3QUPpE0w6gGVltcb+PP51dSHs07nl9Ncd0sjELMAkGBSsOAwIaBQAwWwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAiCQCVggn4HcIA4NQqHBrGH8IIBS2G33nadJ2TAp2zr+LrggTT3gTzzxGWmfTWB28knTaRsWylrQlR+ad496VcHyZOgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMDAyMDYyMzAzMDNaMCMGCSqGSIb3DQEJBDEWBBSORGfSF/gteN35bpgN2Ws5Roo98zANBgkqhkiG9w0BAQEFAASBgG4w7sfkJCPbKpeOxDnU4QM55MI5xA2FaJnXWqCkGZVhIgltniNqXpXysuwJ4SWNL8h2AwvsaN8B+6Ndf2gCakXfU+cg1ppTqxe+dDHPOhljKsl3ev1EgYAdLhF48IjnkAJ5cvN9OdV2G/wTucBYPqVHCmS8rIRszVLVWj2ARRnA-----END PKCS7-----
">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_viewcart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/payments/new', 'cache/views/payments/new' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/payments/new', 'cache/views/payments/new' %>
<% end %>
