html, body {
    background:url(/images/bg-pattern.gif) top left repeat;
    color:#C5351C;
}

label {
  font-size:14px;
  color:#999999;
  padding-bottom:3px;
}

#singleColWpr {
    text-align:center;
}

#singleCol {
    width:946px;
    margin:0 auto;
    background:url(/images/main-container-bg.png) top left repeat-y;
    text-align:left;
    padding-top:5px;
}

#singleColLiner {
  padding-left:12px;
  padding-right:16px;
}

#singleCol #gblTop {
  width:918px;
  height:146px;
  background:url(/images/main-container-top.png) top left no-repeat;
  margin-bottom:30px;
}

#singleCol #gblTop #gblTopLiner {
  padding:30px;
  position:relative;
}

#singleCol #gblTop #gblTopLiner #gblLogo {
  width:183px;
  height:88px;
  background:url(/images/logo.png) top left no-repeat;
}

#gblNav {
    float:right;
    margin-top:35px;
    margin-right:25px;
}

#gblNav a,
#gblNav span.active {
    margin:0 5px;
    font-family:Georgia,serif;
    color:#a3483f;
    font-size:16pt;
    display:block;
    position:relative;
    float:left;
}

#gblNav a span {
  line-height:28pt;
  text-align:center;
  display:block;
  float:left;
  width:100%;
}

#gblNav span.active {
  line-height:28pt;
  text-align:center;
  color:#7e6a63;
}

#gblNav a.nav_about-lnk {
  width:97px;
  height:37px;
}

#gblNav a.nav_about-lnk:hover {
  background:url(/images/gbl_nav/about_bg.gif) no-repeat top left;
}

#gblNav a.nav_services-lnk {
  width:97px;
  height:37px;
}

#gblNav a.nav_services-lnk:hover {
  background:url(/images/gbl_nav/services_bg.gif) no-repeat top left;
}

#gblNav a.nav_articles-lnk {
  width:88px;
  height:37px;
}

#gblNav a.nav_articles-lnk:hover {
  background:url(/images/gbl_nav/articles_bg.gif) no-repeat top left;
}
#gblNav a.nav_testimonials-lnk,
#gblNav span.testimonials.active {
  width:130px;
  height:37px;
}

#gblNav a.nav_testimonials-lnk:hover,
#gblNav span.testimonials.active {
  background:url(/images/gbl_nav/testimonials_bg.gif) no-repeat top left;
}

#gblNav a.nav_contact-lnk,
#gblNav span.contact.active {
  width:114px;
  height:37px;
}

#gblNav a.nav_contact-lnk:hover,
#gblNav span.contact.active {
  background:url(/images/gbl_nav/contact_bg.gif) no-repeat top left;
}

#gblNav a.nav_signin-lnk,
#gblNav span.signin.active {
  width:82px;
  height:37px;
}

#gblNav a.nav_signin-lnk:hover,
#gblNav span.signin.active {
  background:url(/images/gbl_nav/signin_bg.gif) no-repeat top left;
}

#gblContent {
  padding:0 25px;
  min-height:550px;
}

#gblFooter {
  background:url(/images/gbl_footer-bg.jpg) no-repeat top left;
  height:138px;
}

#gblFooter #gblFooterLiner {
  padding:44px;
  text-align:center;
}

#gblFooter #gblFooterLiner #gblFooterContent {
  width:600px;
  margin:0 auto;
  text-align:center;
}

#gblFooter #gblFooterLiner ul li {
  display:inline;
  padding-right:5px;
  border-right:1px solid #e7d4b8;
}

#gblFooter #gblFooterLiner ul li.last {
  border-right:none;
}

#gblFooter #gblFooterLiner ul li a {
  font-size:12px;
}

#gblFooter #gblFooterLiner ul li a:hover {
  color:#C5351C;
}

#gblCopyright {
  clear:both;
  font-size:12px;
  padding-top:15px;
  color:#b1b1b1;
}
