a {
    text-decoration:none;
}

p {
    padding-bottom:10px;
}

.float {
  float:left;
}

.block {
  display:block;
}

.clear {
    clear:both;
    display:block;
    font-size:0px;
    height:1px;
    line-height:0px;
    margin-bottom:-1px;
    overflow:hidden;
    width:1px;
}
