body {
  font-family:Georgia,serif;
  padding:0;
  margin:0;
}

a {
    color:#C5351C;
    text-decoration:none;
}

h1, .heading1 {
  font-size:30pt;
  color:#585555;
}

h2, .heading2 {
  font-size:22px;
  color:#585555;
}

p, .para {
  font-size:16px;
  color:#7e7e7e;
  padding-bottom:10px;
}

.float {
  float:left;
}

.float.right {
  float:right;
}

.block {
  display:block;
}

.clear {
    clear:both;
    display:block;
    font-size:0px;
    height:1px;
    line-height:0px;
    margin-bottom:-1px;
    overflow:hidden;
    width:1px;
}

input[type=text],
input[type=file],
input[type=password] {
  height:25px;
}

input[type=checkbox] {
  margin-right:5px;
}

.gblTextArea {
  height:95px;
}
