body {
  font-family:Georgia,serif;
}

a {
    color:#C5351C;
    text-decoration:none;
}

.heading1 {
  font-size:30pt;
  color:#585555;
}

.heading2 {
  font-size:22px;
  color:#585555;
}

.para {
  font-size:16px;
  color:#7e7e7e;
}

p {
    padding-bottom:10px;
}

.float {
  float:left;
}

.float.right {
  float:right;
}

.block {
  display:block;
}

.clear {
    clear:both;
    display:block;
    font-size:0px;
    height:1px;
    line-height:0px;
    margin-bottom:-1px;
    overflow:hidden;
    width:1px;
}
