.homeCopy {
    float:right;
    width:395px;
    height:220px;
    margin-right:35px;
}

.homeCopy p {
  line-height:20pt;
}

.homeLearnMoreButton {
  width:358px;
  height:53px;
  display:block;
  background:url(/images/home_learn-more.png) no-repeat top left;
  float:right;
  clear:right;
  margin-right:70px;
}

.homePictureFrame {
  background:url(/images/home_picture-frame.png) no-repeat top left;
  width:408px;
  height:307px;
  margin-left:5px;
}

.homePictureFrame .homePictureFrameLiner {
  padding:9px;
}

.homeHorizontal {
  background:url(/images/home_horizontal.png) no-repeat top left;
  width:836px;
  height:277px;
  margin:50px auto;
}

.homeHorizontal ol#penwoodServices {
  padding:50px 30px;
}

.homeHorizontal ol#penwoodServices li {
  float:left;
  width:235px;
  margin-right:35px;
}

.homeHorizontal ol#penwoodServices li.last {
  margin-right:0;
}

.homeLearnMoreSm {
  background:url(/images/home_learn-more-sm.png) no-repeat top left;
  width:139px;
  height:37px;
  display:block;
  margin-top:5px;
}
