<li class="appointment">
  <h3><%= appointment.title %></h3>
  <div>Start: <%= appointment.start.strftime('%A, %B %e, %Y, %l:%M %p') %></div>
  <div>End: <%= appointment.end.strftime('%A, %B %e, %Y, %l:%M %p') %></div>
</li>
