<h1>Users</h1>
<table class="adminModelIndex">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'admin/users/user.html.erb', :collection => @users -%>
  </tbody>
</table>
<div>
  <span><%= link_to 'New Testimonial', new_admin_testimonial_path %></span>
</div>


<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/admin/users/index', 'cache/views/admin/users/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/admin/users/index', 'cache/views/admin/users/index' %>
<% end %>
