<h1><%= @experience.title -%></h1>
<%= image_experience @experience %>

<div><%= link_to 'Edit', edit_admin_image_slide_show_path(@experience) -%> <%= link_to 'Back', current_user_super_user? ? {:action => 'index'} : admin_contents_path -%></div>
