<h1>New Quote</h1>
  
<% form_for @quote, :url => admin_quotes_path do |f| %>
<%= render :partial => 'admin/quotes/form.html.erb', :locals => {:f => f}%>
<% end %>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/admin/quotes/new', 'cache/views/admin/quotes/new' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/admin/quotes/new', 'cache/views/admin/quotes/new' %>
<% end %>
